<div>
    <div class="grid-container">
        <h1>Angular 2</h1>
        <h2>Rendered with: NgFor</h2>
        <h3>
            Ag1 Foo: {{ag1Store.foo}}
            <button (click)="toggleAg1Foo()">toggleAg1Foo</button>
            Ag2 Foo: {{ag2Store.foo}}
            <button (click)="toggleAg2Foo()">toggleAg2Foo</button>
            <br>
            <input (keyup)="updateFilterText($event)" value="{{ag1Store.text}}" placeholder="Filter">
            <span>Filtering: {{ag1Store.filterText || 'N/A'}} -</span>
            <span>Grid Length {{filteredGrid ? filteredGrid.length : 0}}</span>
        </h3>
        <table class="grid-header">
            <thead>
                <th *ngFor="#column of gridHeaders">{{column}}</th>
                <th><button (click)="reverseOrder()">Reverse Order</button></th>
            </thead>
        </table>
        <div class="grid">
            <table>
                <tr *ngFor="#row of filteredGrid">
                    <td *ngFor="#cell of gridHeaders">{{row[cell]}}</td>
                </tr>
            </table>
        </div>

        <div class="grid-ng1">
            <ag1 [grid]="filteredGrid" [gridHeaders]="gridHeaders">Loading...</ag1>
        </div>
    </div>
</div>